body{
    background-image:  url('fondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.azulito{
    color:rgb(7, 7, 102);
    text-align: center;
}

.parrafo{
    color:rebeccapurple;
    text-align: justify;
    
}

img{
    display:block;
    margin:auto;
    height: 10%;
    width: 10%;
}


